@model dotNet_TWITTER.Applications.Common.Models.PostCreationModel

@{ 
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>PostCreation</title>
    </head>
    <body>
        <div>
            @using (Html.BeginForm("Create", "PostCreation", FormMethod.Post))
            {
                <p>
                    @Html.LabelFor(m => m.PostFilling, "What is happening?")<br />
                    @Html.TextBoxFor(m => m.PostFilling)
                </p>
                <p>
                    <input type="submit" value="Post" />
                </p>
            }
        </div>
    </body>
</html>
