@model IEnumerable<dotNet_TWITTER.Models.Post>
@{
    ViewData["Title"] = ".Net TWITTER";
    Layout = null;
}

<!DOCTYPE html>

<html>
<body>
    <h3>POSTS</h3>
    <table>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>Date</td>
        </tr>
        @foreach (var post in Model)
        {
            <tr>
                <td>@post.Date</td>
                <td>@post.Filling</td>
            </tr>
        }
    </table>
</body>
</html>